.nav {
  z-index: 0;
}
.nav__ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.nav__ul__li__a {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  text-decoration: none;
  color: #fff;
  align-items: center;
}
.nav__ul__li__a span {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.nav__ul__li__a svg path {
  fill: #fff;
  font-size: 3rem;
}
.nav__ul__li__a svg {
  width: 1.5rem;
  max-height: 2rem;
}

@media screen and (max-width: 750px) {
  .hide {
    position: absolute;
    transform: translateY(-100%);
    top: -100%;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 0;
    opacity: 0;
    transition: all 0.8s;
  }
  .nav {
    left: 0;
    position: absolute;
    top: 6rem;
    transform: translateY(0);
    z-index: 0;
    /* background-color: #212121; */
    width: 100%;
    height: 98vh;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 3rem;
    transition: all 0.5s ease;
    background-color: #ff0000;
    border-top: 1px solid #fff;
  }
  .nav__ul {
    display: flex;
    flex-direction: column;
  }
}
